nav{
    width: 100%;
    /* background: #0f0f0f; */
    color:  #ffffff;
    padding:0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10 ;

} 
.logo{
    height:100px;
   
} 

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 12px;
    font-size: 18px;
}
.container{
    

    padding-left: 8%;
    padding-right: 5%;
}

.dark-nav{
    background: #4c493b;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

/*media query*/

@media (max-width: 1000px) {
    nav ul li {
        margin: 10px 15px;
    
    }
         .logo{
    width: 140px;
  
      }
}
@media (max-width:840px) {
    nav {
        padding: 15px 0;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        bottom: 0;
        background: #6e6b60;
        z-index: -1;
        width: 200PX;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li {
        margin: 25px 40px;
        display: block;

    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
     nav ul.show-mobile-menu {
        right: 0;  /* ← بیا تو صفحه! */
    }
    .hide-mobile-menu{
       right: -200px;
    }
}